@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-blueCl: #1976D2;
  --color-bgLight: #FFFFF0;
  --color-bgDark: #0A1521;
  --color-bgItem: #1E2939;


  --breakpoint-1400px: 1440px;
  --breakpoint-1200px: 1240px;
  --breakpoint-1040px: 1040px;
  --breakpoint-1000px: 1040px;
  --breakpoint-895px: 895px;
  --breakpoint-800px: 840px;
  --breakpoint-695px: 695px;
  --breakpoint-640px: 640px;
  --breakpoint-600px: 640px;
  --breakpoint-595px: 595px;
  --breakpoint-425px: 445px;
  --breakpoint-375px: 395px;
  --breakpoint-325px: 345px;
}



* {
  text-decoration: none;
}



button, a {
  cursor: pointer;
}


.my-transform {
  transition: all 0.3s ease-in-out;
}